:root {
  
  --color-0: #383838;
  --color-L: #ff6600;
  --color-O: #eec900;
  --color-J: #0000ff;
  --color-T: #cc00ff;
  --color-S: #00ff00;
  --color-I: #66ccff;
  --color-Z: #ff0000;
  
  --square-size: 20px;
  --border-width: 4px;
}



.message-modal.hidden {
  display: none;
}
