:root {
  --bg-color: rgb(0, 0, 0);
  
  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);
  
  --color-0: #000000;
  --color-L: #ff6600;
  --color-O: #eec900;
  --color-J: #0000ff;
  --color-T: #cc00ff;
  --color-S: #00ff00;
  --color-I: #66ccff;
  --color-Z: #ff0000;
  
  --cols: 10;
  --rows: 20;
  --square-size: 20px;
  --border-width: 4px;
}



.next-block-grid-container{
  grid-column: 3/4;
  grid-row:2/3;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: repeat(4, var(--square-size));
  grid-gap: 0;
  align-self:flex-start;
}

.message-modal{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);

  text-align: center;

  background-color: rgb(255, 255, 255, 0.5);
  width: 100px;
  height:100px;

}

.message-modal.hidden {
  display: none;
}
